
  * {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100px;
    flex-direction: row;
    margin: 0;
  }

h1{
    font-size: 3em;
    text-align: center;
}

h2{
    font-size: 3em;
    text-align: center;
}

h3{
    font-size: 3em;
}

h4 {
    font-size: 3em;
    text-align: center;
    
}

h5 {
    font-size: 4em;
    font-style: italic;
 padding-bottom: 2em;
    float: right;
}

  .outer-col-1 {
    background: #D7E8D4;
    flex: 1;
  }

  .outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
 
  .inner-row {
    display: flex;
    flex-direction: row;
  }
  .inner-col {
    flex: 7;
  }
  .inner-row article {
    min-height: 60px;
  }
  .inner-row aside {
    background: beige;
    flex: 4;
  }
footer{
    background: #b1d27b;
    height: 17em;
}
  header {
    background: #b1d27b;
    height: 15em;
  
    }
  header, footer, article, nav, aside {
    padding: 1em;
      
  }
p {
    font-family: 'Alice', serif;
    color: RGB(51,51,51);
    font-size: 1.25em;
    font-weight: 400;
    margin-left: 40px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

img {
  border: 1px solid #8c8a86 ;
  border-radius: 6px;
}
.graduationpicture {
   margin-left: 75px;
    margin-right: 50px;
}
